<header>
    <div class="margin">
        <a href="">
            <img src="assets/img/LogoMakr-6Wx4ce.png">

        </a>

    <img  (click)="openDropDown()" class="dropdown" id="drop-down" src="assets/img/LogoMakr-9Zxlo5.png">


    <!-- Dropdown Responsiv -->
    <div class="d-none" [ngClass]="status ? 'drop-down' : 'd-none'">
        <a class="responsiv-link" href="">HOME</a>
        <a class="responsiv-link" href="#about">ABOUT</a>
        <a class="responsiv-link" href="#portfolio">PORTFOLIO</a>

    </div>
    
        
 
 <!-- Header Fullscreen -->
    <div class="links">
        <a class="fullscreen-link glow-on-hover" href="">HOME</a>
        <a class="fullscreen-link glow-on-hover" href="#about">ABOUT</a>
        <a class="fullscreen-link glow-on-hover" href="#projects">PORTFOLIO</a>
    </div>
</div>
</header>