<header>
    <img src="assets/img/LogoMakr-6Wx4ce.png">

    <img  (click)="openDropDown()" class="dropdown" id="drop-down" src="assets/img/LogoMakr-9Zxlo5.png">


    <!-- Dropdown Responsiv -->
    <div id="div-dropdown" class="drop-down" ngClass="{'d-flex' : true'}">
        <a class="responsiv-link" href="">HOME</a>
        <a class="responsiv-link" href="#about">ABOUT</a>
        <a class="responsiv-link" href="#portfolio">PORTFOLIO</a>

    </div>
    
        
 
 <!-- Header Fullscreen -->
    <div class="links">
        <a class="fullscreen-link" href="">HOME</a>
        <a class="fullscreen-link" href="#about">ABOUT</a>
        <a class="fullscreen-link" href="#portfolio">PORTFOLIO</a>
    </div>

</header>