<div class="margin">
<div class="footer">

    <a routerLink="imprint">Imprint - Legal Notice</a>
    <div class="img-con">
        <a target="_blank"  href="https://linkedin.com/in/bünyamin-altan-932322243">
            <img src="assets/img/linkedin-box-fill.png">
        </a>

        <a target="_blank" href="https://github.com/atnbn">
            <img src="assets/img/github-fill.png">
            </a>
        <a  target="_blank" href="https://www.xing.com/profile/Buenyamin_Altan4/cv">
            <img src="assets/img/xing-fill.png">
        </a>
        
    </div>
    
</div>
</div>

