<div class="margin">
<div class="footer">
    <div class="left-container">
        <!-- <img src="assets/img/footer/logo.png"> -->
        <a routerLink="imprint">Imprint - Legal Notice</a>
    </div>
    <div class="img-con">
        <a  target="_blank"  href="https://linkedin.com/in/bünyamin-altan-932322243">
            <img (mouseover)="mouseovered=true" (mouseleave)="mouseovered=false" [ngClass]="{'big': mouseovered}" src="assets/img/icons/icons8-linkedin-90.png">
        </a>
        <a target="_blank" href="https://github.com/atnbn">
            <img src="assets/img/icons/icons8-github-90.png" (mouseover)="mouseovered1=true" (mouseleave)="mouseovered1=false" [ngClass]="{'big': mouseovered1}">
            </a>
        <a  target="_blank" href="https://www.xing.com/profile/Buenyamin_Altan4/cv">
            <img src="assets/img/icons/icons8-xing-64.png" (mouseover)="mouseovered2=true" (mouseleave)="mouseovered2=false" [ngClass]="{'big': mouseovered2}">
        </a>
    </div>   
</div>
</div>

