.margin{
    
background-color: white;
}


.footer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    margin-left: 160px;

    a{
        font-size: 18px;
        text-decoration: none;
        color : gray; 
    }
    img{
        margin-left: 70px;
        margin-right: 50px;
        height: 55px;
        width: 55px;
        object-fit: contain;
    }
}


@media (max-width :900px){

.margin{
    margin: 0;
    
    .footer{
        margin-left: 180px;
        margin-right: 180px;
        flex-direction: column-reverse;
       
    }

    .img-con{
        display: flex;
        width: -webkit-fill-available;
        justify-content: space-between;
        margin-top: 25px;
  
    }
    img{
        width: 40%px;
        margin-left: 1px;
        margin-right: 1px;
    }
    a{margin-bottom: 10px;}
}


}
@media (max-width :730px){


    .footer{
        margin-left: 100px !important;
        margin-right: 100px !important;

    }



}


@media (max-width :530px){


    .footer{
        margin-left: 50px !important;
        margin-right: 50px !important;

        img{
            width: 10%px !important;
            margin-left: 1px;
            margin-right: 1px;
        }
    }



}

@media (max-width :415px){

.margin{
    height: 12.5vh;
}
.footer{
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
}}
