<div class="block">

    
    <div class="container">
        <div class="title-container" >
            <h1 class="title">Hello, I´m <span>Bünyamin Altan</span> <br>
                I´m a Front End developer</h1>
            <div class="button-con">
                <a style="text-decoration:none;" href="#about">

                    <button >View my Work  <img src="assets/img/greeting/kindpng_736252.png"> </button>
                </a>

            </div>
        </div>
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:35;"></span>
            <span style="--i:23;"></span>
            <span style="--i:56;"></span>
            <span style="--i:54;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:13;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:28;"></span>
            <span style="--i:35;"></span>
            <span style="--i:23;"></span>
            <span style="--i:56;"></span>
            <span style="--i:54;"></span>

        </div>
    </div>
</div>


<app-header></app-header>
<app-about></app-about>
<app-projects></app-projects>
<app-myskills></app-myskills>
<app-contact-me></app-contact-me>
<app-footer></app-footer>