<div id="about" class="about-container">

    <div class="about">

        <div class="first-headline">
            <img class="profile-img" src="assets/img/pic.jpg">
            <div class="text-headline">
                <h2>About me.</h2>
                <p>Hello I am Bünyamin Altan Front End Developer<br>adipisicing elit. Ut blanditiis alias quibusdam </p>
            </div>
        </div>
        <hr>
        <div class="journey">
            <div class="step">
                <div class="icon-container">
                    <img class="icon" src="assets/img/walk-line.png">
                </div>
                <p>MY JOURNEY BEGAN</p>
                <p>as a vehicle painter, now I work as a call center agent
                    and in my free time I work on my further education at the Developer
                    Academy</p>
            </div>

            <div class="step">
                <div class="icon-container">
                    <img class="icon" src="assets/img/heart-line.png">
                </div>
                <p>I FELL IN LOVE</p>
                <p> with coding after taking a course in JavaScript. I was always amazed by the internet.
                    Looking behind the curtain has shown me a new world.</p>
            </div>

            <div class="step">
                <div class="icon-container">
                    <img class="icon" src="assets/img/search-line.png">
                </div>
                <p>I SEARCHED</p>

                <p>
                    for a way to take my interests to a new level. I signed up for the Developer Academy to make it real
                </p>
            </div>

            <div class="step">
                <div class="icon-container">
                    <img class="icon" src="assets/img/flight-takeoff-line.png">
                </div>
                <p>MY GOALS</p>
                <p>is to become a senior developer</p>    <!-- changeable not sure about that-->
            </div>

        </div>
    </div>
</div>