.about-container {
    background-color: hsl(0, 0%, 10%);
}

.about {
   margin-left: 15%;
   margin-right: 15%;
    padding-bottom: 30px;
    color: white;

    .first-headline {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        margin-bottom: 50px;
    }

    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-right: 100px;
        margin-top: 15px;
        object-fit: cover;
    }

    .text-headline {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
    }

    h2 {
        font-size: 36px;
        top: 0;
    }

    p {
        font-size: 21px;
        font-weight: 100;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        padding: 0;
        background-color: #2dfcd8;
        margin-right: 65px;
        margin-left: 65px;
    }
}

.journey {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    .step {
        font-size: 18px;
        color: #fff;
        width: 21%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .icon-container {
        background: 50px;
        height: 55px;
        width: 55px;
        border-radius: 35px;
        background-color: #2dfcd8;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            height: 20px;
            width: 20px;
        }
    }
}




@media (max-height: 1000px){
.about-container{
    height: fit-content;
}
}

@media (max-width: 1000px) {
    .about {
        margin: 0;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .about-container {
        margin: 0;
        height: fit-content;

        .first-headline {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-img {
                margin: 0;
            }
        }

        p{
            font-size: 18px;
        }
        hr {
            display: none;
        }

        .journey {
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
    
        .step {
            width: 50%;
        }


    }
}
