<div id="about" class="about-container">
    <div class="about">
        <div class="first-headline">
            <img class="profile-img" src="assets/img/pic.jpg" data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom">
            <div class="text-headline" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <h2>About me.</h2>
                <p>I´m a Front-End Developer and an Astronom Enthusiast <br> who loves pushing boundaries.</p>
            </div>
        </div>
        <hr data-aos="fade-in" data-aos-anchor-placement="bottom-bottom">
        <div class="journey">
            <div class="step" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom">
                <div class="icon-container">
                    <img class="icon" src="assets/img/walk-line.png">
                </div>
                <p>MY JOURNEY BEGAN</p>
                <p> As a teenager, I was the first address for my family to solve technical problems, especially in the
                    case of software problems.</p>
            </div>
            <div class="step" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"
                data-aos-anchor-placement="bottom-bottom">
                <div class="icon-container">
                    <img class="icon" src="assets/img/heart-line.png">
                </div>
                <p>I FELL IN LOVE</p>
                <p>
                    when I built my first site using only HTML and CSS. Displaying such beautiful things with
                    simple code fascinated me and made me want to go in this direction professionally.</p>
            </div>
            <div class="step" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150"
                data-aos-anchor-placement="bottom-bottom">
                <div class="icon-container">
                    <img class="icon" src="assets/img/search-line.png">
                </div>
                <p>I SEARCHED</p>
                <p>for a way to bring my skills to a professional level, which is why I decided to enroll in Developer
                    Academy, where I could work on many projects and gain a lot of experience</p>
            </div>
            <div class="step" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"
                data-aos-anchor-placement="bottom-bottom">
                <div class="icon-container">
                    <img class="icon" src="assets/img/flight-takeoff-line.png">
                </div>
                <p>MY GOALS</p>
                <p>are to make the web more accessible and user-friendly so that everyone has the opportunity to use the
                    web in the same way
                </p>
            </div>
        </div>
    </div>
</div>