<div id="about" class="about-container">

    <div class="about">


        <div class="first-headline">

            <img class="profile-img" src="assets/img/pic.jpg">
            <div class="text-headline">

                <h2>About me.</h2>
                <p>Hallo ich bin Bünyamin Altan Front End Developer<br>adipisicing elit. Ut blanditiis alias quibusdam </p>
            </div>
        </div>
        <hr>

        <div class="journey">
            <div class="step">
                <div class="icon-container">
                    <img class="icon" src="assets/img/walk-line.png">
                </div>
                <p>MY JOURNEY BEGAN</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Dignissimos molestiae eos harum,
                    excepturi,
                    nobis at aut temporibus <br>facere ipsum impedit reprehenderit <br>sit doloremque autem quia. Quasi
                    qui optio
                    incidunt pariatur.</p>
            </div>
            <div class="step">
                <div class="icon-container">
                    <img class="icon" src="assets/img/heart-line.png">
                </div>
                <p>MY JOURNEY BEGAN</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Dignissimos molestiae eos harum,
                    excepturi,
                    nobis at aut temporibus <br>facere ipsum impedit reprehenderit <br>sit doloremque autem quia. Quasi
                    qui optio
                    incidunt pariatur.</p>
            </div>
            <div class="step">
                <div class="icon-container">
                    <img class="icon" src="assets/img/search-line.png">
                </div>
                <p>MY JOURNEY BEGAN</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Dignissimos molestiae eos harum,
                    excepturi,
                    nobis at aut temporibus <br>facere ipsum impedit reprehenderit <br>sit doloremque autem quia. Quasi
                    qui optio
                    incidunt pariatur.</p>
            </div>
            <div class="step">
                <div class="icon-container">
                    <img class="icon" src="assets/img/flight-takeoff-line.png">
                </div>
                <p>MY JOURNEY BEGAN</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Dignissimos molestiae eos harum, excepturi,
                    nobis at aut temporibus <br>facere ipsum impedit reprehenderit <br>sit doloremque autem quia. Quasi qui optio
                    incidunt pariatur.</p>
    </div>

        </div>
    </div>
</div>