<div id="projects" class="projects-container">

    <h2 data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"> My work</h2>

    <div class="projects-button">
        <button  data-aos="fade-right" class="project-button" (click)="showAllProjects()">All</button>
        <button  data-aos="fade-in" class="project-button" (click)="showAngularProjects()">Angular</button>
        <button  data-aos="fade-left" class="project-button" (click)="showJsProjects()">Java Script</button>
    </div>

    <div class="first-con">

   

            <div   data-aos-duration="1000"  data-aos-delay="300"  data-aos="zoom-in" [ngClass]="angularState ? 'd-none' : 'container'" (mouseover)="opacity1=true" (mouseout)="opacity1=false">
                <!-- First Container-->
                <div [ngClass]="opacity1? 'overlay' : 'd-none'"> </div>
                <img src="assets/img/card-game.jpg"  class="imgProjects"
                    style="width:100%">
                <div class="middle">
                    <div class="text">
                        <p class="hover-title">Ring of fire</p>
                        <p class="hover-text">Angular - based drunking game</p>
                        <a target="_blank"   href="https://ring-of-fire-2c176.web.app"><button class="img-button">Try it</button></a>
                    </div>
                </div>
            </div>


            <div    data-aos-duration="1000"  data-aos-delay="300"  data-aos="zoom-in" [ngClass]="jsState ? 'd-none' : 'container'" (mouseover)="opacity2=true" (mouseout)="opacity2=false">
                <!-- Second Container-->
                <img class="imgProjects"  src="assets/img/Opción 1.png">
                <div [ngClass]="opacity2? 'overlay' : 'd-none'"> </div>
                <div class="middle">
                    <div class="text">
                        <p class="hover-title">El - Polo loco</p>
                        <p class="hover-text">Js  - based 2D game</p>
                        <a  target="_blank" href="http://buenyamin-altan.developerakademie.com/Modul%2011/index.html">
                            <button class="img-button">Try it</button>

                        </a>
                    </div>
                </div>
            </div>


                <div   data-aos-duration="1000"  data-aos-delay="300"  data-aos="zoom-in" [ngClass]="angularState ? 'd-none' : 'container'" (mouseover)="opacity3=true" (mouseout)="opacity3=false">
                <!-- Thrid Container-->
                <img class="image" [ngClass]="jsState ? 'd-none' : 'imgProjects'" src="assets/img/portfolio.png">
                <div [ngClass]="opacity3? 'overlay' : 'd-none'"> </div>
                <div class="middle">ghg
                    <div class="text">
                        <p class="hover-title">My Portfolio</p>
                        <p class="hover-text">This Site was created with Angular</p>
                        <button class="img-button">Try it</button>
                    </div>
                </div>
            </div>

   

    <div  data-aos-duration="1000"  data-aos-delay="300"  data-aos="zoom-in"[ngClass]="jsState ? 'd-none' : 'container'"  (mouseover)="opacity4=true" (mouseout)="opacity4=false">
        <!-- Fourth Container-->
        <img class="imgProjects"  src="assets/img/stickies-4054379_640.jpg">
        <div [ngClass]="opacity4? 'overlay' : 'd-none'"> </div>
        <div class="middle">
            <div class="text">
                <p class="hover-title">Kanban</p>
                <p class="hover-text">Js - based tasks management system</p>
                <a  target="_blank" href="http://gruppe-126.developerakademie.net/Join-Kanban%20Endversion/index.html">
                    <button class="img-button">Try it</button>
                </a>
                    
            </div>
        </div>
    </div>
