.projects-container {       // image
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;

    h2 {
        font-size: 32px;
        color: white;
    }

    .project-button {
        height: 65px;
        width: 120px;
   
        color: white;
        background: none;
        font-size: 18px;
        margin: 3px;
        border: 2px solid #fa2759;
        cursor: pointer;

        &:hover {
            background-color: #fa2759;
         
        }
        &:active{
            background-color: #fa2759;
        }
        &:focus{
            background-color: #fa2759;
        }

    }

    .projects {
        flex-wrap: wrap;
        display:grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        align-items: center;
         
        margin-top: 30px;
    }




        
    }
    .d-none{
        display: none;
    }

    .d-flex{
        display: flex;
    }




// .imgProjects { // image__img
//     height: 320px;
//     width: 400px;
//     object-fit: cover;
//     margin: 15px;
//     cursor: pointer;
// }




.hover-title{
    font-size: 17px;
    text-decoration: none;
    color: #fa2759;
    z-index: 1;
    font-weight: bold;
}
.hover-text{
    font-size: 17px;
    z-index: 1;
}



.overlay{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    background: white;

}


    .first-con{   // margin delete if 
    justify-content: center;
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}


// 


.container {
    position: relative;

    width: 580px;
    height: 350px;
    margin: 20px;
  }
  
  .imgProjects {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  

  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  .hover-title{
    color: #fa2759;
  }


  .img-button{
    color: #fa2759 ;
    background-color: white ;
    height: 65px;
    width: 120px;
    font-size: 18px;
    margin: 3px;
    border: 2px solid #fa2759;
    cursor: pointer;


    &:hover{
        opacity: 0.85;
    }
    &:active{
        background-color: white !important;
    }
    &:focus{
        background-color: white !important;
    }
  }
  //





@media (max-width : 1750px){
    .first-con{
        width: 90%;
    }
    .container{
        width: 507px;
        height: 317px;
    }
}

@media ( max-width : 1420px){
    .container{

        width: 438px;
        height: 288px;
    }
}
@media (max-height : 1100px){
.projects-container{
    height: fit-content;
}
}
@media ( max-width : 1080px){
    .projects-container{
        height: fit-content;
    }
    .container{

        width: 438px;
        height: 288px;
    }
}


@media (max-width : 880px){
    .container{
        width: 345px;
    }
}




@media (max-width: 800px) {
    .contact{
        margin-bottom: 50px;
    }
    .projects-container {
        height: fit-content;
        background-color: #1a1a1a;

        .projects-button {
            display: flex;

            button {
                margin: 5px;
                width: 100px;
            }
        }

    }
    .first-con{
        flex-direction: column;
        display: flex !important;
        align-items: center;
 
    }
}




@media (max-width: 480px) {
.first-con{
        margin-top:10px;
      
    }
.container{
    margin: 0;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    width: 320px;
    height: 300px;
}
    
}


