<div id="portfolio" class="projects-container">

    <h2> My work</h2>

    <div class="projects-button">
        <button (click)="showAllProjects()">All</button>
        <button (click)="showAngularProjects()">Angular</button>
        <button (click)="showJsProjects()">Java Script</button>
    </div>

    <div class="projects">
        <img class="imgProjects" [ngClass]="jsState ? 'd-none' : 'imgProjects'" src="assets/img/Kanban.png">

        <img class="imgProjects" [ngClass]="jsState ? 'd-none' : 'imgProjects'" src="assets/img/coding-job.webp">




        <div class="project-container">
            <img class="imgProjects" [ngClass]="angularState ? 'd-none' : 'imgProjects'"
                src="assets/img/fire-ring-2091656_640.png">
            <div class="hover-container">
                <div class="overlay">   
                    <p class="hover-title">Ring of fire</p>
                    <p class="hover-text">Angular - based drunking game</p>
                    <a href="https://ring-of-fire-2c176.web.app">
                        <button class="game">
                            Play</button>
                    </a>
                </div>
            </div>
        </div>






        <img class="imgProjects" [ngClass]="angularState ? 'd-none' : 'imgProjects'"
            src="assets/img/code-1839406_1280.jpg">


    </div>

</div>