<div id="portfolio" class="projects-container">

    <h2> My work</h2>

    <div class="projects-button">
        <button (click)="showAllProjects()">All</button>
        <button (click)="showAngularProjects()">Angular</button>
        <button (click)="showJsProjects()">Java Script</button>
    </div>

    <div class="projects">
     

        <div class="project-container">

            <div class="container"> 
                <img  src="assets/img/card-game.jpg" [ngClass]="jsState ? 'd-none' : 'imgProjects'"  class="imgProjects" style="width:100%" 
                >
                <div class="overlay"> </div>

                <div class="middle">
                    <div class="text">
                        <p class="hover-title">Ring of fire</p>
                        <p class="hover-text">Angular - based drunking game</p>
                        <button class="img-button">Try it</button>
                    </div>
                </div>
            </div>


            <div class="container"> 
                <img class="imgProjects" [ngClass]="jsState ? 'd-none' : 'imgProjects'" src="assets/img/Kanban.png"> 
                <div class="middle">
                    <div class="text">
                        <p class="hover-title">Ring of fire</p>
                        <p class="hover-text">Angular - based drunking game</p>
                        <button>Try it</button>
                    </div>
                </div>
            </div>

            <div class="container"> 
                <img class="image" [ngClass]="jsState ? 'd-none' : 'imgProjects'" src="assets/img/Kanban.png"> 
                
                <div class="middle">
                    <div class="text">
                        <p class="hover-title">Ring of fire</p>
                        <p class="hover-text">Angular - based drunking game</p>
                        <button>Try it</button>
                    </div>
                </div>
            </div>








            <!-- <div class="container">

                <img class="image" [ngClass]="jsState ? 'd-none' : 'imgProjects'" src="assets/img/coding-job.webp">

                <div class="middle">
                    <div class="text">
                        <p class="hover-title">Join Kanban</p>
                        <p class="hover-text">Angular - based drunking game</p>
                    </div>
                    <button class="game">
                        Play</button>
                </div>
            </div>
 -->

<!-- 
            <div class="hover-container"></div>
            <div class="overlay">
                <p class="hover-title">Ring of fire</p>
                <p class="hover-text">Angular - based drunking game</p>
                <img class="image" [ngClass]="angularState ? 'd-none' : 'imgProjects'"
                    src="assets/img/fire-ring-2091656_640.png">
                <a href="https://ring-of-fire-2c176.web.app">
                    <button class="game">
                        Play</button>
                </a> -->

     -->
 


 <!-- <div class="container">
    <img class="imgProjects" [ngClass]="angularState ? 'd-none' : 'imgProjects'"
    src="assets/img/code-1839406_1280.jpg">
    <div class="middle">
        <div class="text">
            <p class="hover-title">Ring of fire</p>
            <p class="hover-text">Angular - based drunking game</p>
            <button>Try it</button>
        </div>
    </div>
</div> -->




    </div>

</div>