.projects-container {       // image
    display: flex;
    align-items: center;
    flex-direction: column;


    h2 {
        font-size: 32px;
        color: white;
    }

    button {
        height: 65px;
        width: 120px;
        border: 2px solid #fa2759;
        color: white;
        background: none;
        font-size: 18px;
        margin: 3px;
        cursor: pointer;

        &:hover {
            background-color: #fa2759;
         
        }
        &:active{
            background-color: #fa2759;
        }
        &:focus{
            background-color: #fa2759;
        }

    }

    .projects {
        flex-wrap: wrap;
        display:grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        align-items: center;
         
        margin-top: 30px;
    }

 

        
    }
    .d-none{
        display: none;
    }

    .d-flex{
        display: flex;
    }

.imgProjects { // image__img
    height: 320px;
    width: 400px;
    object-fit: cover;
    margin: 15px;
    cursor: pointer;
    display: block;
}



.project-container{
    position: relative;
}


.hover-container{ // image_overlay
    position: absolute;
    top: 0;
    z-index: 9 ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hover-title{
    font-size: 17px;
    text-decoration: none;
    color: #fa2759;
    z-index: 1;
}
.hover-text{
    font-size: 17px;
    z-index: 1;
}

.overlay{ // image__title
    
    display: none;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    background: white;
    opacity: 0.8;

    
    &:hover{
        display: flex !important;
    }
}



.game { // image__description
    color: #fa2759 !important;
    opacity: 1 !important;
    &:hover{
        color: white !important;
    }
}


@media (max-width: 500px) {
    .contact{
        margin-bottom: 50px;
    }
    .projects-container {
        height: fit-content;
        background-color: #1a1a1a;

        .projects-button {
            display: flex;

            button {
                margin: 5px;
                width: 100px;
            }
        }

    }
    .projects {
        flex-direction: column;
        display: flex !important;
        .imgProjects{
            height: 255px;
            width: 300px;
        }
    }
}
