
.container1 {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    margin-inline-start: 15%;
    margin-inline-end: 15%;
    overflow: hidden;

    h1 {
   
        color: white;
    }

    span {
        color: #fa2759;
    }

    .title-e {
        color: #2dfcd8;
    }

    img {
    width: 300px;
    border-radius: 160px;
    height: 300px; 
    object-fit: cover;
    }

    button {
        margin-top: 40px;
        width: 285px;
        height: 80px;
        font-size: 18px;
        color: #2dfcd8;
        border: 2px solid #2dfcd8;
        background: none;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #2dfcd8;
        }
    }
}
.title-con{
    font-size: 64px;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .arrow-img {
        width: 75px;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

@media (max-width:1688px){
    .container1{
        margin-inline-start: 12%;
        margin-inline-end: 12%;
    }
    
}

@media (max-width:1588px){
    .container1{
        margin-inline-start: 10%;
        margin-inline-end: 10%;
    }
    
}


@media (max-width:1380px){
    .container1{
        margin-inline-start: 8%;
        margin-inline-end: 8%;

        img{
            width: 250px;
            height: 250px;
        }
        button{
            width: 230px;
            height: 60px;
        }
        .arrow-img{
            width: 60px;
        }
    }
    
    .title-con{
        font-size: 48px;
    }
}


@media (max-width: 1050px){
   
    .title-con{
        font-size: 42px;
    }

    .container1{
        img{
            width: 200px;
            height: 200px;
        }
    }
}




@media (max-width:900px){
    .title-con{
        font-size: 38px;
    }
}

@media (max-width: 800px) {
    .container1 {
        background-color: #1a1a1a;

        margin: 0;
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;

        .picture {
            display: flex;
            justify-content: center;
            margin-top: 100px;
        }
        h1 {
            text-align: center;
        }

        .button-div {
            display: flex;
            justify-content: center;

            button{
                margin: 0;
            }
        }
    }
    .arrow{
        display: none;
    }
}


@media (max-width: 00px) {



}