<div class="block">
    <div class="container1" >
        
        <div class="greeting"  data-aos="fade-up"
        data-aos-duration="1500" >
            <h1 class="title-con">Hi,<br> I´m <span>Bünyamin</span> Altan<br>
                Front End develop<span class="title-e">e</span>r</h1>
            <div class="button-div"><a href="#contactme">
                <button class="glow-on-hover">Contact me</button>
            </a>
                
            </div>

        </div>

        <div class="picture" data-aos="fade-up"
        data-aos-duration="1500" >
            <img src="assets/img/pic.jpg">
    </div>
</div>
    <div class="spacing">

        <div class="down-arrow" data-aos="fade-up"
        data-aos-duration="1500">
            <a href="#myskills">
                <img class="arrow-img" src="assets/img/arrow-down.png">
            </a>
        </div>
    </div>
    
</div>