<div class="block">
    <div class="container1">
        <div class="greeting">
            <h1>Hi,<br> I´m <span>Bünyamin</span> Altan<br>
                Front End develop<span class="title-e">e</span>r</h1>
            <div class="button-div"><a href="#contactme">
                <button>Contact me</button>
            </a>
                
            </div>

        </div>

        <div class="picture">
            <img src="assets/img/pic.jpg">
        </div>

</div>

        <div class="arrow">
            <a href="#myskills">
                <img class="arrow-img" src="assets/img/arrow-down.png"></a>
        </div>
    
</div>
