
<div id="myskills" class="myskills">

    <div class="margin-top">
        <h2 data-aos="fade-up" data-aos-duration="400">MY Skills</h2>
        <div class="grid">

            <div class="skill-box" data-aos="fade-up" data-aos-duration="500">
                <div class="img-box">
                    <img src="assets/img/java script.png">
                </div>
                <p>Java script</p>
            </div>



            <div class="skill-box" data-aos="fade-up" data-aos-duration="600">
                <div class="img-box">
                    <img class="small-img" src="assets/img/icons8-angularjs-48.png">
                </div>
                <p>Angular</p>
            </div>



            <div class="skill-box" data-aos="fade-up" data-aos-duration="700">
                <div class="img-box">
                    <img src="assets/img/Group 205.png">
                </div>
                <p>HTML / CSS</p>
            </div>



            <div class="skill-box" data-aos="fade-up" data-aos-duration="800" >
                <div class="img-box">
                    <img src="assets/img/Group 226.png">
                </div>
                <p>SCRUM</p>
            </div>

            <div class="skill-box" data-aos="fade-up" data-aos-duration="900">
                <div class="img-box">
                    <img src="assets/img/Git-Icon-1788C 2.png">
                </div>
                <p>Git</p>
            </div>

            <!-- <div class="skill-box" data-aos="fade-left" data-aos-duration="1000">
                <div class="img-box">
                    <img src="assets/img/Group 20.png">
                </div>
                <p>Design<br> Thinking</p>
            </div> -->
        
            <div class="skill-box" data-aos="fade-up" data-aos-duration="1100">
                <div class="img-box">
                    <img src="assets/img/icons8-rest-api-80 2.png">
                </div>
                <p>Rest API </p>
            </div>
            <div class="skill-box" data-aos="fade-up" data-aos-duration="1200">
                <div class="img-box">
                    <img src="assets/img/icons8-test-lab-96 2.png">
                </div>
                <p>Test<br> automation </p>

            </div>  

            <div class="skill-box"data-aos="fade-up" data-aos-duration="1200">
                <div class="img-box">
                    <img src="assets/img/icons8-database-52 2.png">
                </div>
                <p>Databases</p>

            </div>
        </div>

    </div>








</div>
