
.block{
    height: 100vh;
    position: relative;
}

.spacing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;

}
.container1 {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
    margin-top: 300px;
    overflow: hidden;

    h1 {
   
        color: white;
    }

    span {
        color: #fa2759;
    }

    .title-e {
        color: #2dfcd8;
    }

    img {
    width: 300px;
    border-radius: 160px;
    height: 300px; 
    object-fit: cover;
    }

    button {
        margin-top: 40px;
        width: 285px;
        height: 80px;
        font-size: 18px;
        color: #2dfcd8;
        border: 2px solid #2dfcd8;
        background: none;
        cursor: pointer;

        &:hover {
            color: white;
            transition: 1.5s ease-in;
            background-color: #21e7c6;
        }
    }
}
.title-con{
    font-size: 64px;
}

.arrow-img {
    width: 75px;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .arrow-img {
        width: 75px;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}



// Here starts the animation

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

// Arrow Animation // Arrow Animationv // Arrow Animation // Arrow Animationv// Arrow Animation // Arrow Animation // Arrow Animation
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .arrow-img {
        width: 75px;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}


.down-arrow {
    bottom: 0;
    width: 0;
    height: 30px;
   
    display: flex;
}
  
  .down-arrow:after {
    content: " ";
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;

    transform: rotateZ(45deg);
  }
  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }



  .down-arrow {
    // rest of the styles from above
    animation: jumpInfinite 1.5s infinite;
  }



// Here ends the animation














@media (max-width:1920px){
    .container1{
        margin-inline-start: 15%;
        margin-inline-end: 15%;
    }
    
}



@media (max-width:1688px){
    .container1{
        margin-inline-start: 12%;
        margin-inline-end: 12%;
    }
    
}

@media (max-width:1588px){
    .container1{
        margin-inline-start: 10%;
        margin-inline-end: 10%;
    }
    
}


@media (max-width:1380px){
    .container1{
        margin-inline-start: 8%;
        margin-inline-end: 8%;

        img{
            width: 250px;
            height: 250px;
        }
        button{
            width: 230px;
            height: 60px;
        }
        .arrow-img{
            width: 60px;
        }
    }
    
    .title-con{
        font-size: 48px;
    }
}


@media (max-width: 1050px){
   
    .title-con{
        font-size: 42px;
    }

    .container1{
        img{
            width: 200px;
            height: 200px;
        }
    }
}


@media (max-height: 1100px){

.container1{
    margin-top: 150px;
}

 .spacing{
    margin-top: 100px;
    margin-right: 50px;
 }   
}

@media (max-height: 960px){
    .container1{
        margin-top: 80px;
    }
    
     .spacing{
        margin-top: 50px;
        margin-right: 50px;
     }   
    }


@media (max-height: 1100px){
    .spacing{
       margin-top: 100px;
       margin-right: 50px;
    }   
   }


@media (max-width: 900px) {
    .block{
        height: 85vh;
    }
    .container1 {
        background-color: #1a1a1a;
        margin-top: 5px;
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;

        .picture {
            display: flex;
            justify-content: center;
            margin-top: 100px;
        }
        h1 {
            text-align: center;
        }
        .title-con{
            margin-top: 50px;
            font-size: 48px ;
        }
        .button-div {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            button{
                margin: 0;
            }
        }
    }
    .arrow{
        display: none;
    }
        .down-arrow{
            width: fit-content;
        
    }
    .arrow-img{width: 60px;}
    .title-con{
        font-size: 38px;
    }
    .spacing{
        margin-left: 80px;
        margin-top: 50px;
    }
}




@media (max-width: 551px){


.block{
    height: 111vh;
}
}

@media(max-height: 640px){
    .spacing{
        margin-top: 50px;
    }
}

@media(max-width: 420px){

    .block{
        height: 80vh;
    }
        .container1{

    
    .title-con{
        font-size: 30px;
    }
} }