.container-imprint {
    height: calc(100vh - 290px);
}

@media (max-width: 400px) {
    .container-imprint{
        h1{
            font-size: 24px;
        }

        h2{
            font-size: 16px;
        }

        p{
            font-size: 12px;
        }
    }
}

@media (max-height: 750px) {
    .container-imprint{
        height: 100%;
    }
}