html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body{
    margin: 0;
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;

}





@media(max-width:900px){
    body{
        background-color: #1a1a1a ;

    }
}